body {

   background-image: linear-gradient( to bottom, grey 50%, white);
   /* background: rgba(100, 50, 255, 0.5);*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
form {
    width: 300px;
}
input {
    border: none;
}
input,
button {
   padding: 10px;
   width: -webkit-fill-available;
}
button {
    margin-bottom: 10px;
}

.form-field {
    margin-bottom: 10px;
}
.perfil img {
    width: 100px;
    height: 100px;
    border-radius: 50%; 

    border: 5px solid white;
    box-shadow: 3px 3px  10px gray;
    transition: 0.5s;
    user-select: none;
    
    

}
