body{
	background-color: rgba(2,2,255,0.1);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
form{
	width: 300px;
}
input, button{
	padding: 10px;
	margin: 10px;
	width: -webkit-fill-available;
}
button {
	cursor: pointer;
	
}
button:active{
	opacity: 0.8;
}
button[disabled]{
	opacity: 0.0;
}
.clear {
	border: none;
	background: transparent;
}
.solid {
	background: white;
	border:none;
}
.outline{
	background-color: transparent;
	color: black;
	border: solid white;
}
.erro {
	color: black;
	background-color: red;
	display: none;
}